/* General*/
* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: gray;
  box-sizing: border-box;
}
body {
  background: rgb(32, 30, 39);
  background: linear-gradient(
    to bottom,
    #67bee9 0%,
    #f7f7f7 2%,
    #f5f6f7 20%,
    #f7fafc 30%,
    #f2f5f8 40%,
    #f4f5f7 60%,
    #f6f8fa 80%,
    #f8fbfd 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }

header {
  padding: 1rem 0;
}
ul, 
ol {
  list-style: none;
}
/* Navegador internet*/
.menu-container {
  display: flex;
  align-items: start;
  gap: 1rem;
}

.links{
  display: flex;
  gap: 1rem;
}

.menu{
  display: flex;
  position: relative;
}
.opcion a {
  background-color: rgb(232, 240, 250);
  height: 2rem;
  color: rgb(39, 39, 39);
  text-decoration: none;
  border-radius: 1rem;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer p {
  align-items: center;
  padding: 0;
  margin: 5px;
}
.opcion a:hover {
  background-color: rgb(55, 178, 235);
}
.opcion ul {
  display: none;
  position: absolute;
  top: 2rem;
  min-width: 140px;
}
.opcion:hover > ul {
  animation-name: visualizar;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  display: block;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes visualizar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav li ul li {
  position:sticky;
}
.nav li ul {
  right: -140px;
  top: 0px;
}
/* Navegador curso*/
nav {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  color: rgb(39, 38, 38);
  font-weight: 300;
}
nav p {
  font-size: 20px;
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  gap: 22px;
}
nav {
  display: flex;
  align-items: center;
  gap: 15px;
}
button {
  background-color: rgb(92, 177, 247);
  color: rgb(241, 243, 245);
  outline: 2px rgb(169, 219, 245) solid;
  font-weight: 900;
  padding: 6px 12px;
  border-radius: 120px;
  border: none;
  cursor: pointer;
  transition: background-color 1s, color 1s, outline 1s;
}
nav p,
.Planes > p {
  cursor: pointer;
  color: gray;
  font-weight: 400;
  transition: all 1s;
  align-items: center;
}
.Planes p:hover {
  text-decoration: underline;
  color: #21536c;
}

.columna{
  width: 100%;
}
.columna > img {
  width: 100%;
  object-fit: cover;
  border-radius: 2rem;
}

/*Section*/
.inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 1rem 0;
  color: rgb(22, 22, 22);
  text-align: center;
}
.columna h1 {
  font-weight: 900;
}
.columna p {
  font-weight: 300;
}
.columna button {
  font-size: 18px;
}
#solicitud{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  gap: 28px;
  text-align: center;
}

.Planes {
  display: flex;
  gap: 12px;
}
#contáctanos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  text-align: center;
  padding: 2rem 0;
}