<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uso de variables</title>
    <link rel="stylesheet" href="./uso_modulos.css">
</head>
<body>
    <h1>Hola Uso de Modulo en Sass</h1>
    <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam eos ut nemo pariatur, similique accusamus nulla? Consequatur exercitationem consectetur inventore in harum, illum rem dignissimos delectus impedit deserunt autem velit.</p>
</body>
</html>